body{
                background-color: lightblue;
                font-family: 'Lucida Sans', Verdana, sans-serif;
            }
            h1{
                text-align: center;
                color: blueviolet;
            }
            p{
                text-align: justify;
                width: fit-content;
            }
            .center{
                width: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .foto{
                background-color: black;
            }
            .foto img{
                width: 23%;
            }
            .cod{
                width: 25%;
                border: 1px dotted red;
                background-color: aqua;
            }
            .cod p{
                text-align: center;
                font-weight: bold;
                color: blue;
            }
            .promo h2{
                color: red;
            }
            .promo h3{
                color: red;
            }

            #tombol{
                background-color: yellow;
                color: red;
            }
            .vit{
                font-size: 20px;
                font-weight: bold;
            }
            
            table{
                border: 3px;
                width: 70%;
                border-color: black;
            }
            table thead{
                background-color: green;
            }