h1{
    color: blue;
}
#header{
    background-color: lightsalmon;
    text-align: center;
}

blockquote{
    background-color: yellowgreen;
    border: 1px solid black;
}

.gambar{

    text-align: center;
}
.nav{
    text-align: center;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}

.nav ul li{

    margin: 0em 1em;
}
.jawa{
    color: blue;
    font-size: 50px;
    font-weight: bold;
}

body{
    background-color: beige;
}